.ChartBox {
    /* outline: 1px solid chartreuse; */
    border: 2px solid darkgray;
    padding: 2px;
    margin: 4rem;
    width: 36rem;
}

.christmas-banner {
    text-align: center;
    font-size: 3rem;
    outline: 4px dashed green;
    border: 4px dashed red;
    padding: 0.5rem;
    margin: 1rem 2rem;
}

.christmas-banner > :nth-child(even) {
    color: red;
}

.christmas-banner > :nth-child(odd) {
    color: green;
}