.Song {
    display: grid;
    grid-template-columns: 4.5rem 1fr;
    grid-template-rows: repeat(3, minmax(1.5rem, auto));
}

/* .Song * { outline: 1px solid chartreuse } */

.Song > * {
    grid-column-start: 2;
    width: fit-content;
}

.Song--chartpos {
    grid-area: 1 / 1 / span 2 / span 1;
    align-self: center;
    justify-self: center;
    font-weight: bold;
    font-size: 2rem;
}

.Song > button {
    text-align: inherit;
    font-size: inherit;
    background-color: inherit;
    /* color: inherit; */
    border: none;
    padding: 0;
    text-decoration: underline;
    color: LinkText;
    cursor: pointer;
}