.Song {
    display: grid;
    grid-template-columns: 4.5rem 1fr;
    grid-template-rows: repeat(3, 1.5rem);
}

/* .Song * { outline: 1px solid chartreuse } */

.Song > * {
    grid-column-start: 2;
}

.Song--chartpos {
    grid-area: 1 / 1 / span 2 / span 1;
    align-self: center;
    justify-self: center;
    font-weight: bold;
    font-size: 2rem;
}